<header >

<h1 style="font-weight: 40; text-align: center;" >Sanjeevidharan Krishnan</h1>
<h6 style="text-align: center;">sanjeevidharan.krishnan@gmail.com,+91 86374-04920</h6>
<hr style="border: 1px solid cyan;">
</header>

<body style="margin-left: 40px; position: relative; content: device-width; font-style: italic; background-color: lightcyan; cursor: pointer;">
  <div class="container" style="left: 60%; position: absolute; width: 35%;">
    <label ><h5 style="font-weight: 600;font-size: x-large;">SKILLS:</h5></label>
    <ul>
      <li>Python Programming</li>
      <li> Angular</li>
      <li> HTML & CSS</li>
      <li> MYSQL</li>
      <li>Java</li>
    </ul>
    <h4>EDUCATIONS:</h4>
    <div >
      <h6 style="display: inline;">Alagappa Chettiyar Government College of Engineering and Technology-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
      <h6 style="font-size: smaller; display: inline;">AUG 2016- DEC 2020</h6>
    </div><br>

    <div >
      <h6 style="display: inline;">A.G.N. Matric Higher Secondary School-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
      <h6 style="font-size: smaller; display: inline;"> AUG 2015-APR 2016</h6>
      <h6 style="font-size: small; font-weight: 50px;"> Percentage: 86%</h6>
    </div>
    <div >
      <h6 style="display: inline;">K.R.P. Matric Higher Secondary School-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
      <h6 style="font-size: smaller; display: inline;">JUL 2013- MAR 2014</h6>
      <h6 style="font-size: small; font-weight: 50px;"> Percentage: 95%</h6>
    </div>
    <h4>LANGUAGES</h4>
    <ul>
      <li>Tamil</li>
      <li>English</li>
      <li>Hindi</li>
    </ul>
    
  </div><br>
  <div style="width: 50%;">
    <h5 style="font-weight: 600;font-size: x-large;">EXPERIENCE | VYASAKA TECHNOLOGY:</h5>
  <h6>Job Position: Angular Developer</h6>
  <ul>
    <li>I have done a project by adding values to a JSON file and displaying it with a service file.</li>
    <li> By displaying it to the component which I choose in that component.</li>
    <li>I also used Http client methods such as  Post, Get, Delete &Put methods completed.</li>
  </ul><br>
  <h5 style="font-weight: 600;font-size: x-large;">CERTIFICATIONS:</h5>
  <!-- <svg width="50%" xmlns:xlink="http://www.w3.org/2000/xlink">
    <a xlink:href="https://www.hackerrank.com/certificates/2f4ff163b0fd/" target="_blank">
    </a>

  </svg> -->
  <img src="/assets/angcertific.png" alt="https://www.hackerrank.com/certificates/2f4ff163b0fd" style="width: 50%;">
  <img src="/assets/pytcertific.png" alt="image" style="width: 50%;"><br>
  <h5 style="font-weight: 600;font-size: x-large;">PROJECTS / OPENSOURCE</h5>
  <h6>ANGULAR 13 CRUD USING MATERIAL UI</h6>
  <ul>
    <li>My project consists of Angular material of adding products.</li>
    <li> It conists of a JSON and API in which the products stores in it .</li>
    <li>It consists of buttons like add,edit,delete and update which performed by HTTP Client's Module.</li>
    <li>It is a simple method of storing products whit their Name ,Categories,Date,Freshness,Price  </li>
  </ul><br><br><br><br>
  </div>

  
</body>
<footer>
  
</footer>
